*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.search_meal{
    background-color:palevioletred;
.heading{
    color:white;
}
.searchbox{
   width:50%;
   margin:auto;
    input{
        width:100%;
    }

}
.container{
    width:80%;
    margin:auto;
   
  
}
}