*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}
.banner{
  
    width:100%;
    background-image: url("images/assets/background.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   margin:auto;
   height:32vw;

.content{
    position:absolute;
    display: block;
    flex-direction: column;
    bottom:20%;
    top:20%;
    left:10%;
    color:#fff;
    button{
        border: 1px #fff solid;;
        background-color: #fff;
        color:black;
    }
}
}


