<html>
    <head>
        <title>kavitha</title>
        <style>
p:nth-child(2){
    color:red;

}
        </style>
        <link rel="icon" href="import AccessAlarmsIcon from '@mui/icons-material/AccessAlarms';" type="image/png">

        <body>
            <div>
                <p>hi</p>
                <p>hi</p>
                <p>hello</p>
                <p>hello</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62136.11460338232!2d78.82729214622212!3d13.25621613539241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad624b7aefc23b%3A0xff31c4183d41bff1!2sKuppam%2C%20Andhra%20Pradesh%20517416!5e0!3m2!1sen!2sin!4v1720858692743!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
        </body>
    </head>
</html>